<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charbgr.seismicinterceptor">

    <application>
        <activity
            android:name=".LogListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/seismic_app_name"
            android:taskAffinity="com.charbgr.seismicinterceptor"
            android:theme="@style/SeismicTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogDetailActivity"
            android:label="@string/logs"
            android:theme="@style/SeismicTheme">

        </activity>
    </application>

</manifest>